@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
	font-family: 'GeistMono';
	src: url('/GeistMono[wght].woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/Geist[wght].woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
}

@theme {
	--font-family-geist:
		'Geist', system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue',
		'Arial', sans-serif;
	--font-family-geist-mono: 'GeistMono', monospace;
}

@layer base {
	:root {
		color-scheme: light;
	}

	:root.dark {
		color-scheme: dark;
	}

	html,
	body {
		height: 100%;
		font-family: var(--font-family-geist);
	}

	/* Shiki code blocks */
	pre.shiki,
	pre.shiki code {
		font-family: var(--font-family-geist-mono);
		font-size: 16px;
	}

	body {
		@apply bg-neutral-50 text-neutral-950 antialiased dark:bg-neutral-950 dark:text-neutral-50;
	}

	a {
		@apply underline decoration-neutral-300 underline-offset-4 hover:decoration-neutral-500 dark:decoration-neutral-700 dark:hover:decoration-neutral-500;
	}
}
